<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.movie.mandiri">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name="com.movie.mandiri.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.WithActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name=".view.TrailerActivity"
            android:exported="false" />
        <activity
            android:name=".view.FilmActivity"
            android:exported="false" />
        <activity
            android:name=".view.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:label="@string/application_name" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>